<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>菜单</title>
</head>
<body>
<menu  th:fragment="menu">
    <ul id="nav">
        <li>
            <a href="javascript:;">
                <i class="iconfont left-nav-li" lay-tips="管理员管理">&#xe726;</i>
                <cite>管理员管理</cite>
                <i class="iconfont nav_right">&#xe697;</i></a>
            <ul class="sub-menu">
                <li>
                    <a onclick="xadmin.add_tab('管理员列表','/sys/user')">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>管理员列表</cite></a>
                </li>
                <li>
                    <a onclick="xadmin.add_tab('角色管理','/sys/role')">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>角色管理</cite></a>
                </li>
                <li>
                    <a onclick="xadmin.add_tab('权限管理','/sys/rule')">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>权限管理</cite></a>
                </li>
                <li>
                    <a onclick="xadmin.add_tab('权限分类','/sys/cate')">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>权限分配</cite></a>
                </li>
                <li>
                    <a onclick="xadmin.add_tab('公司管理','/sys/company')">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>公司管理</cite></a>
                </li>
                <li>
                    <a onclick="xadmin.add_tab('部门管理','/sys/dept')">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>部门管理</cite></a>
                </li>
                <li>
                    <a onclick="xadmin.add_tab('岗位管理','/sys/post')">
                    <i class="iconfont">&#xe6a7;</i>
                    <cite>岗位管理</cite></a>
                 </li>
            </ul>
        </li>
    </ul>
</menu>
</body>
</html>