<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>仓库管理系统</title>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
    <form class="layui-form" action="/sys/rule/add" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="x-red">*</span>权限名称</label>
            <div class="layui-input-inline">
                <input type="text" name="menuname" required  lay-verify="required" placeholder="请输入权限名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="x-red">*</span>父类权限</label>
            <div class="layui-input-inline">
            <input id="pn"  type="text" name="parentName" required  lay-verify="required" placeholder="请输入父类权限" autocomplete="off" class="layui-input">
            </div>

        </div>
        <div class="layui-tree-div " style="display:none;">
            <label class="layui-form-label"><span class="x-red"></span>&nbsp;</label>
            <div class="layui-input-inline" >
                <div id="ruletree" class="demo-tree demo-tree-box" style="width: 200px;background-color:#376b7969;" ></div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="x-red">*</span>权限路径</label>
            <div class="layui-input-inline">
                <input type="text" name="url" required  lay-verify="required"
                       placeholder="请输入权限路径" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">icon</label>
            <div class="layui-input-inline">
                <input  type="text" name="icon" required  lay-verify="required" placeholder="请输入图片地址" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="x-red">*</span>权限类型</label>
            <div class="layui-input-inline">
                <select name="resourceType" lay-verify="required" >
                    <option value="menu">菜单</option>
                    <option value="button">路径</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-inline">
                <textarea name="note" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    </div>
</div>

    <script>
    layui.use(['form','tree'], function(){
      var form = layui.form;
      var tree = layui.tree;

      var  data2="";
      $.post("/sys/rule/findMenu/",function(result){
               data2=result.data;
       });
        //模拟数据1
         var  data1 = [{
          title: '公司名称' ,id: 1
          ,children: [{
              title: '客户管理'
              ,id: 1001
              },{
              title: '系统设置'
              ,id: 1002
          }]
        }];

      //开启节点操作图标
		tree.render({
			elem: '#ruletree'
			,data: data2
			,click: function(obj){
			   $("#pn").val(obj.data.title);
			}
	    });

      //监听提交
      form.on('submit(add)', function(data) {

         //发异步，把数据提交给php
          $.ajax({
                url: "/sys/role/add",
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data.field),
                success: function(result) {
                    xadmin.close();
                    xadmin.father_reload();
                   if(result.code==0){
                      alert(result.message)
                   }else{
                       alert(result.message)
                   }
                }
          });
          layer.msg(JSON.stringify(data.field));
          return false;
      });
    });
    $("#pn").focus(function(){
         $(".layui-tree-div").show();
    });
    </script>
</body>
</html>